/* Media queries */
/* Based off of Bootstrap responsive breakpoints */

// Bootstrap equivalent: medium
@media (min-width: 768px) {
  h1 {
    font-size: 13vw;
  }

  h2, .links, .quicknav {
    font-size: 4vw;
  }

  p {
    font-size: 3.9vw;
  }

  section {
    &.about-me, &.projects {
      p {
        font-size: 4.0624vw;
      }
    }
  }

  .links .link small {
    font-size: 2.6vw;
  }

  .quicknav {
    visibility: visible;
  }
}

// Bootstrap equivalent: large
@media (min-width: 992px) {
  h1 {
    font-size: 10vw;
  }

  h2, .links, .quicknav {
    font-size: 3.125vw;
  }

  p {
    font-size: 3vw;
  }

  section {
    &.about-me, &.projects {
      p {
        font-size: 3.75vw;
      }
    }
  }

  .links .link small {
    font-size: 2vw;
  }

  .quicknav {
    visibility: visible;
  }
}

// Bootstrap equivalent: extra large
@media (min-width: 1200px) {
  h1 {
    font-size: 8vw;
  }

  h2, .links, .quicknav {
    font-size: 2.5vw;
  }

  p {
    font-size: 2.4vw;
  }

  section {
    &.about-me, &.projects {
      p {
        font-size: 3vw;
      }
    }
  }

  .links .link small {
    font-size: 1.6vw;
  }

  .quicknav {
    visibility: visible;
  }
}
