/* Screen breakpoints */

// Small
@media screen and (min-width: 500px) {
  .font-default {
    font-size: 1em;
  }
}

// Medium
@media screen and (min-width: 800px) {
  .font-default {
    font-size: 1.1em;
  }
}

// Large
@media screen and (min-width: 1200px) {
  .font-default {
    font-size: 1.1em;
  }

  .info-card {
    order: -1;
  }

  .container {
    padding-top: 5em;
  }

  .profile-card {
    margin: -1em;
  }

  .flex-break {
    display: none;
  }
}

// Extra large
@media screen and (min-width: 1400px) {
  .font-default {
    font-size: 1.3em;
  }

  .container {
    padding-top: 7em;
  }

  .profile-card {
    margin: -2em;
  }
}
