/* Color palette */

$orange: #f2c09b;
$dark-orange: #f8ad76;

$green: #c4f5c7;
$dark-green: #88f590;

$cream: #fcf8ec;
$gray: #afafaf;
$dark-gray: #1c1c1c;

/* Color aliases */

$primary-color: $orange;
$primary-color-dark: $dark-orange;

$secondary-color: $green;
$secondary-color-dark: $dark-green;
