/* Sass imports */

@import 'reset';
@import 'variables';

/* Universal styles */

body {
  @extend .font-default;
}

a, a:active, a:visited {
  color: $primary-color;
  text-decoration: none;
}

a:hover {
  color: $primary-color-dark;
  cursor: pointer;
}

::selection {
  background: lighten($primary-color, 10%);
}

/* Layout styles */

section {
  background-repeat: repeat;
  background-size: 2vw;
  display: flex;
  flex-direction: column;
  min-height: 94vh;
  padding: 2vh;
  width: calc(100vw-4vh);

  &.light {
    background-image: url('../images/backgrounds/dot-light.png');
    color: $dark-gray;

    &.glass {
      background-image: url('../images/backgrounds/triangle-light.png');
    }

    svg {
      stroke: $dark-gray;
    }
  }

  &.dark {
    background-image: url('../images/backgrounds/dot-dark.png');
    color: $cream;

    &.glass {
      background-image: url('../images/backgrounds/triangle-dark.png');
    }

    svg {
      stroke: $cream;
    }
  }

  &.splash {
    justify-content: flex-end;
    min-height: 48vh;
    padding: 25vh 8vw;
    width: 84vw;
  }

  &.profession {
    a, a:active, a:visited {
      color: $secondary-color;
    }

    a:hover {
      color: $secondary-color-dark;
    }

    ::selection {
      background: lighten($secondary-color, 10%);
    }
  }

  &.showcase {
    p {
      &:first-of-type {
        font-size: 1.5em;
        text-transform: lowercase;
      }

      &:not(:first-of-type) {
        font-size: 1em;
      }
    }
  }

  div.photos {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-left: 2.5vw;
    padding-top: 2.5vw;

    div.photos.secondary {
      display: flex;
      flex-direction: column;
      padding-left: 0;
      padding-top: 0;

      a, img {
        height: 12vh;
        padding-left: 0;

        &:not(:last-of-type) {
          padding-bottom: 2vh;
        }
      }
    }

    img {
      height: 40vh;
      padding-left: 2vh;
    }
  }
}


/* Typography styles */

.font-default {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-weight: 700;
}

h1 {
  padding-bottom: 0.8em;

  svg {
    stroke-width: 2px;
    width: 50vw;
  }
}

h2 {
  font-size: 2em;
  text-transform: lowercase;
}

h3 {
  svg {
    max-height: 15vh;
    max-width: 85vw;
  }
}

p {
  font-size: 2.2em;
  line-height: 1.1em;
  padding-left: 2.5vw;
  padding-top: 0.8em;
  width: 45vw;

  &:first-of-type {
    padding-top: 1.5em;
  }
}

svg {
  fill-opacity: 0;
  stroke-width: 1px;
}

/* Media queries */

@import 'queries';
