/* Sass imports */

@import 'reset';
@import 'external';
@import 'variables';

/* Universal styles */

body {
  @extend .font-primary;
  background-color: $black;
  background-image: url('../images/fountain-pen.jpg');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

a, a:active, a:visited {
  text-decoration: none;
  color: $primary-color-light;
  transition: color 0.2s linear;
}

a:hover {
  @extend a;
  cursor: pointer;
  color: $primary-color;
  transition: color 0s;
}

strong {
  font-weight: 600;
}

.strike {
  text-decoration: line-through;
}

.scratch {
  @extend .font-scratch;
}

::selection {
  background: $primary-color-lighter;
}

/* Layout styles */

.container {
  display: flex;
  justify-content: space-around;
  margin: 10vh 5vw;
}

/* Object styles */

.card {
  flex-basis: $card-width;
  height: $card-height;
  margin: auto;
  background-color: $white-shaded;
  border: 1px solid $gray-light;
  border-radius: 7px;
  box-shadow: 0 4px 4px 1px $shadow;
  text-align: center;
}

.content {
  position: absolute;
  width: $card-width - 1.35em;
  height: $card-height - 3.92em;
  padding: 1.95em 0.6em;
}

.card-upper {
  @extend .card;
  content: '';
  display: block;
  position: relative;
  box-shadow: 0 5px 5px 1px $shadow-light;
  z-index: -1;
}

@mixin card-upper-adjustments($left, $top, $rotation) {
  left: $left;
  top: $top;
  transform: rotate($rotation);
}

.profile-card {
  @extend .card;
  transform: rotate(-1deg);
}

.profile-content {
  @extend .content;
  @include card-upper-adjustments($profile-left, $profile-top, $profile-rotation);
}

.profile-card::after {
  @extend .card-upper;
  @include card-upper-adjustments($profile-left, $profile-top, $profile-rotation);
}

body::after {
  content: '';
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: linear-gradient(to top left, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0) 50%);
  z-index: -1;
}

body::before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: url('../images/block-pattern.png') repeat;
  opacity: 0.42;
}

/* Typography styles */

.font-default {
  font-weight: 400;
  color: $gray-dark;
  font-size: 0.72em;
  line-height: 1.32em;
}

.font-primary {
  @extend .font-default;
  font-family: 'Open Sans', 'Trebuchet MS', 'Verdana', 'Arial', sans-serif;
}

.font-scratch {
  @extend .font-default;
  font-family: 'Indie Flower', fantasy;
}

.icon-main {
  display: block;
  font-size: 2.9em;
}

.name {
  display: block;
  padding: 0.2em 0 0.4em 0;
  font-size: 1.8em;
  line-height: 1.15em;

  strong {
    font-size: 1.3em;
  }
}

.headline {
  display: block;
  padding: 0.4em 0;
}

.account {
  display: inline-block;
  margin: 0 0.5em;
  font-size: 0.7em;
  text-align: left;

  .fa-github {
    font-size: 1.25em;
  }
  .fa-paper-plane {
    font-size: 1.1em;
  }

  a {
    display: block;
    font-size: 1.35em;
  }
}

/* Media queries */

@import 'queries';
