<% content_for :title, "Jason Puglisi" %>

<div class="bg-home">
  <div class="jumbotron jumbotron-fluid bg-inverse text-inverse">
    <div class="container">
      <div class="row text-right">
        <div class="col-sm-6 col-lg-4">
          <h1 class="display-4">Jason Puglisi</h1>
          <br>
          <h2><a href="mailto:jason@puglisi.im">jason@puglisi.im</a></h2>
          <br>
          <div class="row">
            <div class="col-xs-6">
              <p><i class="fa fa-github"></i> GitHub<br>
                 <a href="https://github.com/JasonPuglisi">JasonPuglisi</a></p>
            </div>
            <div class="col-xs-6">
              <p><i class="fa fa-twitter"></i> Twitter<br>
                 <a href="https://twitter.com/JasonPuglisi">@JasonPuglisi</a></p>
            </div>
            <div class="col-xs-6">
              <p><i class="fa fa-lastfm"></i> Last.fm<br>
                 <a href="https://www.last.fm/user/iJason_">iJason_</a></p>
            </div>
            <div class="col-xs-6">
              <p><i class="fa fa-keyboard-o"></i> IRC<br>
                 <a href="irc://irc.rizon.net:6697">Jason_ on irc.rizon.net</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 pull-right">
          <h1>About Me</h1>
          <hr>
          <% birthday = Date.new(1997,3,6)
             today = Date.today()
             age = ((today - birthday) / 365).floor %>
          <p>I'm <%= pluralize(age, 'year') %> old and studying Computing
             Security at Rochester Institute of Technology</p>
          <p>I enjoy coding and developing websites, and I'm experienced with
             HTML, CSS/SCSS, JavaScript/Node.js, Ruby, PHP, and Java</p>
          <p>In addition to programming languages, I know a bit of Spanish,
             Chinese, and American Sign Language</p>
          <p>In my free time, I enjoy playing piano, running, and messing
             around with servers</p>
        </div>
      </div>
    </div>
  </div>
</div>

